BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=Equipo CoachAI
BREVO_REPLY_TO=

BREVO_FOLDER_NAME=CoachAI
BREVO_LIST_NAME=CoachAI - Promo Abril 2026
BREVO_CAMPAIGN_NAME=CoachAI - Promo Abril 2026
BREVO_CAMPAIGN_TAG=coachai-promo-2026-04

BREVO_FOLDER_ID=
BREVO_LIST_ID=
BREVO_UNSUBSCRIBE_PAGE_ID=
BREVO_UPDATE_FORM_ID=
BREVO_RATE_LIMIT_MS=350
BREVO_BATCH_SIZE=50
BREVO_TEST_EMAILS=

COACHAI_BASE_URL=https://coachai.es
CAMPAIGN_INPUT_FILE=
CAMPAIGN_AUTH_EXPORT_FILE=
FIREBASE_PROJECT_ID=entrenamientos-bfac2
GOOGLE_APPLICATION_CREDENTIALS=
FIREBASE_SERVICE_ACCOUNT_JSON=
